.btn-fb { /*Navbar*/
  background-color: #3B5998;
  color: white;
  border-radius: 2px;
  padding: 0px;
  height: 30px;
  margin: 15px 0 0 0;
  width: 90px;
  font-size: 1.2em;
}

.btn-fb:hover { /*Navbar*/
  background-color: #2f477a;
  color: white;
  border-radius: 2px;
}

.right-nav { /*Navbar*/
  float: left;
  margin-left: 15px;
}

#anchor { /*Navbar*/
   margin-top:60px;
   float:left;
}

#navbar { /*Navbar*/
  background-color: #0CA6C4;
  height: 120px;
  z-index: 1000;
  border-radius: 0;
}

#nav-container { /*Navbar*/
  margin-top: 60px;
}

#left-nav h3{ /*Navbar*/
  margin: 25px 0 0 10px;
  position: relative;
  float: left;
  color: #616161;
}

#nav-name { /*Navbar*/
  margin-top: 13px;
  color: white;
  font-size: 1.5em;
}

#title { /*Navbar*/
  margin-top: 10px;
  color: white;
  width: auto;
  display: block;
  float: left;
  position: relative;
  font-family: 'Roboto';
  font-weight: 300;
}

#beta-title { /*Navbar*/
  font-family: 'Roboto';
  font-weight: 300;
}

#title:hover { /*Navbar*/
  text-decoration: none;
  color: #BABABA;
}

#profile-pic { /*Navbar*/
  margin: 7px 0 0 0;
  width: 40px;
  height: 40px;
}